body {
font-family: 'VT323', monospace;  
  background-image: url("https://ibrahimtgd.netlify.app/assets/img/BackgroundIB.gif");
}

.vertical-menu {
  width: 200px;
}

.vertical-menu a {
  background-color: #eee;
  color: black;
  display: block;
  padding: 12px;
  text-decoration: none;
}

.vertical-menu a:hover {
  background-color: #ccc;
}

.vertical-menu a.active {
  background-color: powderblue;
  color: white;
}

p {
color: #ffffff;
float:right;
font-size: 20px;
}

h1 {
  color: orange;
        float:right;
  font-size:40;
}

h2 {
  color: #ffffff;
        float:right;
    font-size:30;
}

h3 {
color: #ffffff ;
      float:right;
    font-size:25;
}

.chip {
  display: inline-block;
  padding: 0 25px;
  height: 50px;
  font-size: 16px;
  line-height: 50px;
  border-radius: 25px;
  background-color: #f1f1f1;
}

.chip img {
  float: left;
  margin: 0 10px 0 -25px;
  height: 50px;
  width: 50px;
  border-radius: 50%;
}

.footer {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: red;
   color: white;
   text-align: center;
}

img {
    float:left;
}

blockquote {
  background: black;
  border-left: 10px solid #ccc;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  quotes: "\201C""\201D""\2018""\2019";
}
blockquote:before {
  color: #ccc;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
    color: white;
}
blockquote p {
  display: inline;
  color: white;
}



