body {
font-family: 'VT323', monospace;  
    background-image: url("https://ibrahimtgd.netlify.app/assets/img/BackgroundRED.jpg");
}

/* Dotted red border */
hr.red {
  border-top: 5px dotted blue;
}

.button {
background:    #6fa8dc;
border:        1px solid #f3f3f3;
border-radius: 1000px;
padding:       20px 45px;
color:         #ffffff;
display:       inline-block;
font:          normal bold 26px/1 'VT323', monospace;  
text-align:    center;
}

p {
color: #ffffff
}

.bg {
  /* The image used */
  background-image: url("https://ibrahimtgd.netlify.app/assets/img/BackgroundIB.gif");

  /* Full height */
  height: 100%; 

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
