body {
font-family: 'VT323', monospace;  
  background-image: url("https://ibrahimtgd.netlify.app/assets/img/BackgroundIB.gif");
}

.vertical-menu {
  width: 200px;
}

.vertical-menu a {
  background-color: #eee;
  color: black;
  display: block;
  padding: 12px;
  text-decoration: none;
}

.vertical-menu a:hover {
  background-color: #ccc;
}

.vertical-menu a.active {
  background-color: powderblue;
  color: white;
}

p {
color: #ffffff
}

h1 {
  color: #ffffff
}

h2 {
  color: #ffffff
}

h3 {
color: #ffffff  
}


